USE [master]
GO

CREATE DATABASE [GPWebAPIDatabaseSQL]
GO

USE [GPWebAPIDatabaseSQL]
GO

CREATE TABLE [dbo].[Students] (
	[Id]        INT            IDENTITY(1,1) NOT NULL,
	[FirstName] NVARCHAR(100)  NOT NULL,
	[LastName]  NVARCHAR(100)  NOT NULL,
	[Age]       INT            NOT NULL,
	CONSTRAINT PK_Students PRIMARY KEY CLUSTERED ([Id] ASC)
)
GO

INSERT INTO [dbo].[Students] ([FirstName], [LastName], [Age]) VALUES
	('Giorgi',  'Beridze',   24),
	('Nino',    'Kvaratskhelia', 21),
	('Luka',    'Maisuradze', 23),
	('Mariam',  'Jokhadze',  20)
GO