USE [master]
GO
/****** Object:  Database [TransactionsDB]    Script Date: 4/1/2025 2:28:15 AM ******/
CREATE DATABASE [TransactionsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransactionsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TransactionsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TransactionsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TransactionsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransactionsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransactionsDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserBalance] [decimal](18, 2) NOT NULL,
	[SpentBalance] [decimal](18, 2) NULL,
	[DepartmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Sales')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'HR')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (3, N'IT')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [UserBalance], [SpentBalance], [DepartmentId]) VALUES (1, N'John Doe', CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Users] ([UserId], [UserName], [UserBalance], [SpentBalance], [DepartmentId]) VALUES (2, N'Jane Smith', CAST(3000.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Users] ([UserId], [UserName], [UserBalance], [SpentBalance], [DepartmentId]) VALUES (4, N'Bob Brown', CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [SpentBalance]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURES FOR CRUD OPERATIONS
-- =============================================

-- Procedure to Insert a New User
CREATE PROCEDURE [dbo].[AddUser]
    @UserName NVARCHAR(100),
    @UserBalance DECIMAL(18,2),
    @DepartmentId INT
AS
BEGIN
    INSERT INTO dbo.Users (UserName, UserBalance, SpentBalance, DepartmentId)
    VALUES (@UserName, @UserBalance, 0, @DepartmentId);
    PRINT 'User added successfully.';
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to Delete a User by ID
CREATE PROCEDURE [dbo].[DeleteUser]
    @UserId INT
AS
BEGIN
    DELETE FROM dbo.Users WHERE UserId = @UserId;
    PRINT 'User deleted successfully.';
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to Get All Users
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SELECT * FROM dbo.Users;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to Get a User by ID
CREATE PROCEDURE [dbo].[GetUserById]
    @UserId INT
AS
BEGIN
    SELECT * FROM dbo.Users WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[TransferMoney]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to Transfer Money Between Users (with Transactions)
CREATE PROCEDURE [dbo].[TransferMoney]
    @SenderId INT,
    @ReceiverId INT,
    @Amount DECIMAL(18,2)
AS
BEGIN
    DECLARE @SenderBalance DECIMAL(18,2);

    -- Start a transaction
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Check sender's balance
        SELECT @SenderBalance = UserBalance FROM dbo.Users WHERE UserId = @SenderId;

        -- If sender doesn't have enough money, rollback
        IF @SenderBalance < @Amount
        BEGIN
            RAISERROR ('Insufficient funds.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Deduct amount from sender
        UPDATE dbo.Users 
        SET UserBalance = UserBalance - @Amount
        WHERE UserId = @SenderId;

        -- Add amount to receiver
        UPDATE dbo.Users 
        SET UserBalance = UserBalance + @Amount
        WHERE UserId = @ReceiverId;

        -- Commit transaction
        COMMIT TRANSACTION;
        PRINT 'Transaction successful.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Transaction failed: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @UserId INT,
    @UserName NVARCHAR(100),
    @UserBalance DECIMAL(18, 2),
    @DepartmentId INT
AS
BEGIN
    UPDATE Users
    SET UserName = @UserName,
        UserBalance = @UserBalance,
        DepartmentId = @DepartmentId
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserBalance]    Script Date: 4/1/2025 2:28:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to Update a User's Balance
CREATE PROCEDURE [dbo].[UpdateUserBalance]
    @UserId INT,
    @NewBalance DECIMAL(18,2)
AS
BEGIN
    UPDATE dbo.Users 
    SET UserBalance = @NewBalance 
    WHERE UserId = @UserId;
    PRINT 'User balance updated successfully.';
END
GO
USE [master]
GO
