USE [master]
GO
/****** Object:  Database [WordleGameDatabase]    Script Date: 4/28/2025 11:35:44 PM ******/
CREATE DATABASE [WordleGameDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WordleGameDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WordleGameDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WordleGameDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WordleGameDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordleGameDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordleGameDatabase]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/28/2025 11:35:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_P] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ID_F] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
