USE [master]
GO
/****** Object:  Database [WordleGameDatabase]    Script Date: 4/29/2025 1:08:07 AM ******/
CREATE DATABASE [WordleGameDatabase]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WordleGameDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WordleGameDatabase]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/29/2025 1:08:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_P] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ID_F] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID_P], [Email], [Password], [ID_F]) VALUES (1, N'giorgi@gmail.c', N'123', 0)
INSERT [dbo].[Users] ([ID_P], [Email], [Password], [ID_F]) VALUES (2, N'giorgipoladauri@gmail.com', N'123', 0)
INSERT [dbo].[Users] ([ID_P], [Email], [Password], [ID_F]) VALUES (3, N'n.1@g.com', N'123', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
