USE [master]
GO
/****** Object:  Database [BankApp]    Script Date: 5/18/2025 9:44:07 PM ******/
CREATE DATABASE [BankApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BankApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BankApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankApp]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/18/2025 9:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID_P] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[LoanAmount] [decimal](10, 2) NOT NULL,
	[LoanInterest] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID_P], [UserName], [BirthDate], [LoanAmount], [LoanInterest]) VALUES (4, N'Giu', CAST(N'2025-05-18' AS Date), CAST(1233.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 5/18/2025 9:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteUser]
    @ID_P INT
AS
BEGIN
    DELETE FROM Users WHERE ID_P = @ID_P;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertUser]    Script Date: 5/18/2025 9:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertUser]
    @UserName NVARCHAR(100),
    @BirthDate DATE,
    @LoanAmount DECIMAL(10,2),
    @LoanInterest DECIMAL(5,2)
AS
BEGIN
    INSERT INTO Users (UserName, BirthDate, LoanAmount, LoanInterest)
    VALUES (@UserName, @BirthDate, @LoanAmount, @LoanInterest);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectAllUsers]    Script Date: 5/18/2025 9:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SelectAllUsers]
AS
BEGIN
    SELECT * FROM Users;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUser]    Script Date: 5/18/2025 9:44:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recreate the procedure
CREATE PROCEDURE [dbo].[usp_UpdateUser]
    @ID_P         INT,
    @UserName     NVARCHAR(100),
    @BirthDate    DATE,
    @LoanAmount   DECIMAL(10,2),
    @LoanInterest DECIMAL(5,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        UserName     = @UserName,
        BirthDate    = @BirthDate,
        LoanAmount   = @LoanAmount,
        LoanInterest = @LoanInterest
    WHERE ID_P = @ID_P;
END;
GO
USE [master]
GO
